.bg-service1 {
    width: 69px; height: 69px;
    background: url('../img/services-sprite.png') -223px -572px;
}

.bg-service2 {
    width: 75px; height: 75px;
    background: url('../img/services-sprite.png') -50px -50px;
}

.bg-service3 {
    width: 73px; height: 73px;
    background: url('../img/services-sprite.png') -50px -225px;
}

.bg-service4 {
    width: 72px; height: 72px;
    background: url('../img/services-sprite.png') -221px -398px;
}

.bg-service5 {
    width: 72px; height: 72px;
    background: url('../img/services-sprite.png') -572px -50px;
}

.bg-service6 {
    width: 73px; height: 72px;
    background: url('../img/services-sprite.png') -223px -225px;
}

.bg-service7 {
    width: 71px; height: 74px;
    background: url('../img/services-sprite.png') -50px -398px;
}

.bg-service8 {
    width: 72px; height: 72px;
    background: url('../img/services-sprite.png') -572px -222px;
}

.bg-service9 {
    width: 73px; height: 72px;
    background: url('../img/services-sprite.png') -399px -50px;
}

.bg-service10 {
    width: 67px; height: 71px;
    background: url('../img/services-sprite.png') -744px -50px;
}

.bg-service11 {
    width: 71px; height: 69px;
    background: url('../img/services-sprite.png') -572px -394px;
}

.bg-service12 {
    width: 68px; height: 69px;
    background: url('../img/services-sprite.png') -561px -572px;
}

.bg-service13 {
    width: 65px; height: 68px;
    background: url('../img/services-sprite.png') -744px -389px;
}

.bg-service14 {
    width: 73px; height: 71px;
    background: url('../img/services-sprite.png') -50px -572px;
}

.bg-service15 {
    width: 67px; height: 68px;
    background: url('../img/services-sprite.png') -744px -221px;
}

.bg-service16 {
    width: 69px; height: 69px;
    background: url('../img/services-sprite.png') -392px -572px;
}

.bg-service17 {
    width: 74px; height: 75px;
    background: url('../img/services-sprite.png') -225px -50px;
}

.bg-service18 {
    width: 72px; height: 73px;
    background: url('../img/services-sprite.png') -399px -222px;
}

.bg-service19 {
    width: 72px; height: 72px;
    background: url('../img/services-sprite.png') -393px -398px;
}

.bg-service20 {
    width: 69px; height: 66px;
    background: url('../img/services-sprite.png') -50px -743px;
}

.bg-service21 {
    width: 56px; height: 72px;
    background: url('../img/services-sprite.png') -744px -557px;
}