@import 'center-sprite';

.center{
	flex: 1 1 auto;
	padding: 0 15px;
}

.services-head{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0 15px 0;
}

.services-head h1{
	margin: 0;
	font-size: 2.2em;
}

.add-new-service{
	display: inline-block;
	text-decoration: none;
	background: $green;
	padding: 10px 20px;	
	color: $white;	
	border-radius: 5px;
}

.add-new-service:hover{
	background: $middle-green;
}

.services-body{
	border: 1px solid $border;
	border-radius: 5px;
	padding: 15px 15px 0 15px;

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.services-item{
	cursor: pointer;
	margin: 5px 10px;
	width: 135px;
}

.services-item:hover .services-item-icon{
	background: $service-hover;
}

.services-item:hover .services-item-name{
	color: $dark-green;
}

.services-item-icon{
	width: 135px;
	height: 135px;
	border: 1px solid $border;	

	display: flex;
	justify-content: center;
	align-items: center;
}

.services-item-name{
	text-align: center;
	font-weight: bold;
	padding: 15px;
}

@import 'center-media';