@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('font/ProximaNova-Regular.eot');
	src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
		url('font/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('font/ProximaNova-Regular.woff') format('woff'),
		url('font/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}