@media (max-width: 970px) {

	.left{
		padding: 10px;
	}

	nav{
		width: 80%;
		margin: 0 auto;
	}

	.company-body{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

    .company-body-item{
		flex: 1 1 250px;
	}

	.company-head-see-all{		
		padding-right: 0px;
	}

	.advert-left{
		display: flex;		
		flex-direction: column;			
		justify-content: center;
		align-items: center;
	}

	.copyright{
		text-align: center;
	}

	.copyright a{
		margin: 0 10px;
	}
}