.bg-menu1 {    
    background: url('../img/menu-sprite.png') -40px -30px no-repeat;
}

.bg-menu2 {    
    background: url('../img/menu-sprite.png') -40px -133px no-repeat;
}

.bg-menu3 {    
    background: url('../img/menu-sprite.png') -40px -237px no-repeat;
}

.bg-menu4 {    
    background: url('../img/menu-sprite.png') -40px -341px no-repeat;
}