@media (max-width: 970px) {

	.header-wrap{
		height: auto;	
		min-width: 100%;	
		position: relative;	
	}

	header{
		max-width: 100%;
		min-width: 100%;
		height: auto;
		margin: 0;
		
		flex-direction: column;		
	}

	.logo{
		flex: 0 0 auto;
		margin: 60px 0 20px 0;
	}

	.header-search-wrap{
		flex: 0 0 auto;	
		margin-bottom: 20px;
	}

	.header-messages-wrap{
		display: block;
		margin: 0;	
		flex: 0 0 auto;
		position: absolute;
		right: 0px;
		top: 12px;
	}

	.header-user-wrap{
		display: block;
		margin: 0;	
		flex: 0 0 auto;
	}

	.header-user span{
		display: none;
	}

	.header-user img{
		display: block;
		flex: 0 0 auto;
		position: absolute;
		top: 10px;
		left: 10px;
	}

}