$white: #ffffff;

$black: #1c2534;
$menu-black: #59606b;

$dark-blue: #7c8695;
$blue: #b7bfcd;
$light-blue: #d3d3d3;

$green: #87b448;
$middle-green: #73993d;
$dark-green: #71973c;

$service-hover: #f4f7fb;

$border: #e0e2e6;